# Basic Config
awscli   # Amazon
# Models and Schema
pydantic

# Front End




# Back End




# Agents
bedrock-agentcore
bedrock-agentcore-starter-toolkit
langgraph
langchain
langchain-aws
langchain-core
boto3
elevenlabs
python-dotenv
pymupdf